body{
  background-color: grey;      
}
.entrada{
 text-align: center;
 color:goldenrod;
}
.title{
  text-align: center;
  color: goldenrod;
}
#map {
  
  height: 400px;
  padding: 0%;
  background-color: grey;
  
}